
<div th:include="head.html" th:remove="tag"></div>
<aside class="filtros pad1">
    <form class="text-center">
        <input type="text" placeholder="Buscar">
        <p></p>
        <button type="submit"> Buscar</button>
    </form>
    <ul>
        <li>Marca</li>
        <ul><a href="">marca 1</a></ul>
        <ul><a href="">marca 2</a></ul>
        <ul><a href="">marca 3</a></ul>
        <ul><a href="">marca 4</a></ul>
        
    </ul>
    <ul>
        <li>Categoria</li>
        <ul><a href="">ategoria 1</a></ul>
        <ul><a href="">ategoria 2</a></ul>
        <ul><a href="">ategoria 3</a></ul>
        <ul><a href="">ategoria 4</a></ul>
    </ul>
    <ul>
        <li>Preferencia</li>
        <ul><a href="">Mas vendido</a></ul>
        <ul><a href="">Ofertas</a></ul>
        <ul><a href="">ategoria 3</a></ul>
        <ul><a href="">ategoria 4</a></ul>
    </ul>
</aside><article class="articulos">
    <section id="business" class="portfolio sections">
        <div class="container">
            <div class="head_title text-center">
                <h1>Our Business Analytics Platform</h1>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            </div>

            <div class="row">
                <div class="portfolio-wrapper text-center lista-articulo">
                    <div class="articulo">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bricotex.pro%2Ftienda%2F7160-thickbox_default%2Fmascarilla-quirurgica.jpg&f=1&nofb=1">
                        <div>
                            <h4><a href="#?id=1" onclick="mostrar_vt('ver_pro')">Mascarrilla de piel de rtrtrtr</a></h4>
                            <h3>S/45.00 <a href="agregar_producto?id=4"class="fa fa-cart-plus agreagar-pro"></a></h3>
                            <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                        </div>
                    </div>
                    <div class="articulo">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bricotex.pro%2Ftienda%2F7160-thickbox_default%2Fmascarilla-quirurgica.jpg&f=1&nofb=1">
                        <div>
                            <h4>Mascarrilla de piel de rtrtrtr</h4>
                            <h3>S/45.00 <a href="agregar_producto?id=4"class="fa fa-cart-plus agreagar-pro"></a></h3>
                            <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                        </div>
                    </div>
                    <div class="articulo">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bricotex.pro%2Ftienda%2F7160-thickbox_default%2Fmascarilla-quirurgica.jpg&f=1&nofb=1">
                        <div>
                            <h4>Mascarrilla de piel de rtrtrtr</h4>
                            <h3>S/45.00 <a href="agregar_producto?id=4"class="fa fa-cart-plus agreagar-pro"></a></h3>
                            <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                        </div>
                    </div>
                    <div class="articulo">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bricotex.pro%2Ftienda%2F7160-thickbox_default%2Fmascarilla-quirurgica.jpg&f=1&nofb=1">
                        <div>
                            <h4>Mascarrilla de piel de rtrtrtr</h4>
                            <h3>S/45.00 <a href="agregar_producto?id=4"class="fa fa-cart-plus agreagar-pro"></a></h3>
                            <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                        </div>
                    </div>
                    <div class="articulo">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bricotex.pro%2Ftienda%2F7160-thickbox_default%2Fmascarilla-quirurgica.jpg&f=1&nofb=1">
                        <div>
                            <h4>Mascarrilla de piel de rtrtrtr</h4>
                            <h3>S/45.00 <a href="agregar_producto?id=4"class="fa fa-cart-plus agreagar-pro"></a></h3>
                            <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Example row of columns -->

        </div> <!-- /container -->       
    </section>

</article>
<section class="full-vt" id="ver_pro">
    <button class="boton-cerrar" onclick="cerrarr_vt(this)">Cerrar</button>
    <div class="ver_pro">
        <div class="bg-2">
            <div class="text-center">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bricotex.pro%2Ftienda%2F7160-thickbox_default%2Fmascarilla-quirurgica.jpg&f=1&nofb=1">
            </div><div class="">
                <h4>Mascarrilla de piel de rtrtrtr</h4>
                <h3>S/45.00 </h3>
                <h3>5 cajas</h3>
                <form class="for-agregar-pro" action="agregar_producto">
                    <input type="number" min="0" max="5" value="1">
                    <br>
                   <button type="submit" class="fa fa-cart-plus agreagar-pro"></button>
                </form>
            </div>
            <div class="descripcion">
                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>

            </div>
        </div>
    </div>
</section>
<div th:include="footer.html" th:remove="tag"></div>